<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <!--
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->

</head>
<body>


<div name=MAIN_CONTAINER class="container h-100">
    <div name=MAIN_ROW class="row">
        <div class="col-md-6 col-md-offset-3"></div>
        <div class="panel panel-default">
            <div class="panel-heading" th:object="${resume}" th:text="*{'Resume for ' + person.firstName + ' ' + person.lastName}">Resume for N N</div>
                <div class="panel-body">
                <!--/*@thymesVar id="resume" type="kriss0101.cvdb.api.commands.resumeDTO"*/-->
                        <form th:object="${resume}" action="/resumes/update" method="POST">
                            <input type="hidden" th:field="*{id}"/>

                            <label>Contact</label>
                            <label th:text="${resume.person.contact?.adress}">adress here</label>
                            <label th:text="${resume.person.contact?.phone}">123-345457</label>
                            <label value="Storstaden"></label>
                            <label value="123-345 678" th:remove></label>


                            <label>short presentation</label><input type="text" th:field="*{presentation?.shortDescription}"/><br>
                        <label>Long presentation</label><input type="text" th:field="*{presentation?.longDescription}"/><br>
                        <label>Assignments</label>

                            <ul>
                                <li th:each="assignment : *{assignments}">
                                    <input type="text" th:value="${assignment.fromYear}"/><input type="text" th:value="${assignment.toYear}"/>
                                    <input type="text" th:value="${assignment.shortDescription}"/>
                                    <input type="text" th:value="${assignment.longDescription}"/>
                                    <input type="text" th:value="${assignment.employer}"/>
                                </li>
                            </ul>

                            <label>Education</label>

                            <ul>
                                <li th:each="edu : *{educations}">
                                    <input type="text" th:value="${edu.fromYear}"/><input type="text" th:value="${edu.toYear}"/>
                                    <input type="text" th:value="${edu.description}"/>


                                </li>
                            </ul>

                            <label>Skills</label>

                            <table>
                                <th><tr><td>Skill</td><td>Level</td></tr></th>
                                <tr th:remove="all"><td><input type="text" value="Test skill 1"/></td>
                                    <td><input type="text" value="4"/></td>
                                </tr>
                                <tr th:each="skill : *{skills}">
                                    <td><input type="text" th:value="${skill.description}"/></td>
                                    <td><input type="text" th:value="${skill.grade}"/></td>
                                </tr>
                            </table>

                    </form>


                </div>
        </div>
    </div>



    </div>


</div>


</body>
</html>